[submodule "FlexCAN_T4"]
	path = FlexCAN_T4
	url = https://github.com/tonton81/FlexCAN_T4.git
[submodule "ArduinoRingBuffer"]
	path = ArduinoRingBuffer
	url = https://github.com/wizard97/ArduinoRingBuffer.git
